# .env.example
Agente_Classificador_de_Fotos=AIzaSyDXzg1h-GQlLhy16o8wbmdxSRNl9bXOvsk
Agente_Gerador_de_Prompt=AIzaSyA8kktcxyAutXYcgQqRpJx3dpXenZGqEvc
Agente_Corretor_de_Foto=AIzaSyD4IkCGTS3Pq6s9ive0katKJG_N4JO80lk
Agente_Gerador_Fotos_1k=AIzaSyDVJGKqgPk_LHZi-5o1iNLTjHcWyoGUJ7g
Agente_Gerador_Fotos_2k=AIzaSyCBJ6DZzOKMVUZZu6s5NpFtg1tN-1Ed7tM
Agente_Gerador_Fotos_4k=AIzaSyDPmRhTq22JwnYd5R84BZX2Y-q4VQx-8RU

VITE_SUPABASE_URL=https://wdmixpockvsrvkfuxjls.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndkbWl4cG9ja3ZzcnZrZnV4amxzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0ODkzNjcsImV4cCI6MjA4ODA2NTM2N30.ymsRiY3T-JxQwCNs9N7JiekbO0AQ27MtQMIbWe14kCI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndkbWl4cG9ja3ZzcnZrZnV4amxzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQ4OTM2NywiZXhwIjoyMDg4MDY1MzY3fQ.AgK_Xy-99yTOmXZX-GMrLIgx2LaUJqPI_9MCTJQgUsU
